[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"
sqlmodel = "*"
email-validator = "*"
alembic = "*"
mysqlclient = "*"
pandas = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
