{% extends "index.html.jinja" %}
{% block title %}
  <h1>Reset your password</h1>
{% endblock %}
{% block description %}
  <div>
    <p>Please reset your password in Movie RS by clicking the button below:</p>
  </div>
  <div>
    <a href="{{ client_url + '/password-reset?token=' + token }}">Reset your password</a>
  </div>
  <div>
    <p>This link is only available for an hour.</p>
  </div>
{% endblock %}
